__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/

checkpoints/
result/
results/    

.vscode


model/FBA_Matting/FBA.pth
model/EMLNETSaliency/*.pth

bestmodels/realismnet.pth
bestmodels/editnet_attenuate.pth
bestmodels/editnet_amplify.pth

